<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <link rel="stylesheet" href="/print.css" media="print">
      <link rel="stylesheet" href="/poole.css">
      <link rel="stylesheet" href="/hyde.css">

      {%- if config.generate_feeds %}
        {% if config.feed_filenames[0] == "atom.xml" %}
          {% set filename = "atom.xml" %}
          {% set mimetype = "application/atom+xml" %}
        {% elif config.feed_filenames[0] == "rss.xml" %}
          {% set filename = "rss.xml" %}
          {% set mimetype = "application/rss+xml" %}
        {% endif -%}
      <link rel="alternate" type="{{mimetype | safe}}" title="RSS" href="{{ get_url(path=filename) | safe }}">
      {% endif -%}
      
      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
        {% block sidebar %}
            <div class="sidebar">
                <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

                    <ul class="sidebar-nav">
                        {% block sidebar_nav %}
                        {% for link in config.extra.hyde_links %}
                        <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                        {% endblock sidebar_nav %}
                    </ul>
                </div>
            </div>
        {% endblock sidebar %}

        <div class="content container">
            {% block content %}
                <div class="posts">
                    {% for page in section.pages %}
                      <div class="post">
                        <h1 class="post-title">
                          <a href="{{ page.permalink }}">
                            {{ page.title }}
                          </a>
                        </h1>

                        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                      </div>
                    {% endfor %}
                </div>
            {% endblock content %}
        </div>

    </body>

</html>
