name: build
on:
  workflow_dispatch:

  push:
    branches:
      - master

env:
  ZOLA_VERSION: 0.21.0

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Download zola
        run: curl -L https://github.com/getzola/zola/releases/download/v${{ env.ZOLA_VERSION }}/zola-v${{ env.ZOLA_VERSION }}-x86_64-unknown-linux-gnu.tar.gz | tar zxf -

      - name: Build
        run: ./zola build

      - name: Download talks
        run: |
          set -e
          mkdir -p public/content/talks/omniopencon2025
          curl -L https://github.com/lnicola/omniopencon2025/archive/refs/heads/master.zip -o master.zip
          unzip master.zip
          mv omniopencon2025-master/* public/content/talks/omniopencon2025/
          rm master.zip
          rm -r omniopencon2025-master

      - name: Publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: production
          publish_dir: public
          force_orphan: true
